.navbar-brand {
    font-family: Cursive;
    font-weight: bold;
}
p {
    font-size: 15px;
}
small {
    font-size: 15px;
}
h1 {
    font-family: cursive;
}

h3:hover {
    color: #d9230f;
}

.jumbotron {
    height: 300px;
    h1 {
        text-decoration: none;
    }
}
.jumbotron h1 {
    color: maroon;
    text-shadow: 1px 1px 2px #333;
}
.home-jumbo {
    background: url('../images/couplewithbaby2.jpeg');
    background-position: bottom;;
    background-size: cover;
    background-attachment: fixed;
}
.parenting-jumbo {
    background: url('../images/couplewithbaby.jpeg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.effects-jumbo {
    background: url('../images/dadsonbeach.jpeg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.info-jumbo {
    background: url('../images/familypier.jpeg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.misc-jumbo {
    background: url('../images/dadandkid.jpeg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}


#footer_area {
    .footer {
        list-style-type: none;
        display: flex;
        justify-content: center;
        li {
            margin: 10px;
            a {
                display: inline-block;
                padding: 1.5em;
            }
        }
    }
}

// Index.html

#main_home {
    img {
        margin: 20px;
        float: left;
    }
}

// Attachment 
   .accordion, button {
       background: #eee;
       color: #444;
       cursor: pointer;
       padding: 10px;
       margin: 10px;
       width: 100%;
       text-align: left;
       border: none;
       outline: none;
       transition: .5s;
       &:focus, &:active {
           outline: none;
           color: black;
       }
        &:hover {
            color: black;
        }
   }
    .panel {
        padding: 0 10px;
        background: #fff;
        display: none;
    }

// Misconceptions 

// Parenting

#main_parenting {
    img {
        width: 450px;
        height: auto;
        border: 1px solid #ccc;
        padding: 2px;
    }
}

