h3:hover {
    color: #d9230f;
}
#nav_area {
    ul.nav {
        display: flex;
        justify-content: center;
        list-style: none;
        li {
            margin: 5px;
            a {
                display: inline-block;
                padding: 1em;
            }
        }
    }
}



#footer_area {
    .footer {
        list-style-type: none;
        display: flex;
        justify-content: center;
        li {
            margin: 10px;
            a {
                display: inline-block;
                padding: 1.5em;
            }
        }
    }
}

// Index.html

#main_home {
    img {
        margin: 20px;
        float: left;
    }
}

// Attachment 
   .accordion {
       background: #eee;
       color: #444;
       cursor: pointer;
       padding: 10px;
       margin: 10px;
       width: 100%;
       text-align: left;
       border: none;
       outline: none;
       transition: .5s;
       &:focus, &:active {
           outline: none;
       }
       &:hover {
           background: #ddd;
           .accordion.active {
            
           }
       }
   }
    .panel {
        padding: 0 10px;
        background: #fff;
        display: none;
    }